body {
  background-color: #2d3238 !important;
}

.container > .text-pembuka {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 5em;
}
.container-fluid > .d-flex > input {
  position: relative;
  top: 7rem;
  /* left: 2rem; */
  text-align: center;
  width: 7rem;
  border: 0.1rem;
  border-style: solid;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 1) -7px 7px;
  font-family: 'Roboto Condensed', sans-serif;
  transition: 100ms ease-in;
}

.container-fluid > .d-flex > button {
  text-align: center;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  width: 5rem;
  border: 0.1rem;
  border-style: solid;
  background-color: #0037ff;
  box-shadow: rgba(0, 0, 0, 1) -7px 7px;
  color: black;
  transition: 100ms ease-in;
}

.container-fluid > .d-flex > .btn-outline-success:active {
  color: black;
  border-style: solid !important;
  /* box-shadow: rgba(0, 0, 0, 1) -4px 4px; */
  box-shadow: none;
  transform: translate(-7px, 7px) !important;
}

.container-fluid > .d-flex > .form-control.me-2:hover {
  color: #696767 !important;
}

.container-fluid > .d-flex > .form-control.me-2:focus {
  color: black;
  border-style: solid !important;
  /* box-shadow: rgba(0, 0, 0, 1) -4px 4px; */
  box-shadow: none;
  transform: translate(-7px, 7px) !important;
}

.container-fluid > .d-flex > .btn-outline-success:hover {
  color: rgb(0, 0, 0);
  border-style: solid !important;
}

.container > .row > .col > .card {
  display: block;
  position: relative;
  top: 2rem;
  border-radius: 0.2rem;
  /* left: -5rem; */
  font-weight: bold;
  width: 11rem;
  height: 4rem;
  text-align: center;
  border: 0.1rem;
  border-style: solid;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 1) -7px 7px;
  transition: 100ms ease-in;
}

.container > .row > .col.tombol-kembali > .kembali {
  display: block;
  top: 1rem;
  text-align: center !important;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  width: 8rem !important;
  border: 0.1rem;
  border-style: solid;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 1) -7px 7px;
  color: black;
  transition: 100ms ease-in;
}

.container > .row > .col.tombol-kembali > .kembali:active {
  /* color: black; */
  /* border-style: solid !important; */
  /* box-shadow: rgba(0, 0, 0, 1) -4px 4px; */
  box-shadow: none;
  transform: translate(-7px, 7px) !important;
}

.container > .row > .col.tombol-kembali > .kembali > a {
  text-decoration: none;
  text-align: center !important;
  font-weight: 10rem !important;
  color: #000000 !important;
}

.container > .row > .col-pilihan {
  border-color: #000000 !important;
  /* background-color: #000000; */
  color: #000000;
}

.container > .row > .col > .pilihan-game {
  font-family: 'PT Serif', serif;
  display: block;
  position: relative;
  border-radius: 0.5rem;
  border: 0.1rem;
  top: 10rem;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  /* left: 5  rem; */
  border-style: solid;
  background-color: #000000;
  /* width: 5rem; */
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* font-size: 1rem; */
  font-weight: bold;
  background-color: #ffd500;
  box-shadow: rgba(0, 0, 0, 1) -8px 8px;
  transition: 150ms ease-out;
}

.container > .row > .col > .pilihan-game > img {
  background: white;
  border: none;
  /* width: px; */
}

.container > .row > .col > .pilihan-game > .card-body > a {
  /* border: #000000; */
  /* border-style: solid; */
  font-family: 'PT Serif', serif;
  font-size: 10px !important;
  font-weight: bold;
  text-align: center;
  color: #000000;
  text-decoration: none !important;
}

.container > .row > .col > .card > .name > h3 {
  position: relative;
  /* top: -0.3rem; */
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  /* margin-bottom: 10000px !important; */
}

.container > .row > .col > .card > h3 {
  position: absolute;
}
.container > .row > .col > .card:hover {
  /* border: 0.2rem; */
  border-style: solid;
  /* box-shadow: rgba(0, 0, 0, 1) -4px 4px; */
  box-shadow: none;
  transform: translate(-7px, 7px);
}

.container > .row > .col > .jenis > .jenis-game > img {
  width: 100px;
  /* -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(-2px 2px 2px #222); */
}

.container > .row > .col > .jenis {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 5rem;
  display: block;
  position: relative;
  border: 10px;
  border-radius: 4px;
  top: 4rem;
  /* border-style: solid; */
  /* border-color: #ffffff; */
  width: 12rem;
  height: auto;
  /* margin-left: auto; */
  /* margin-right: auto; */
  text-align: center;
  font-weight: bold;
  /* background-color: #ffffff; */
  /* background-color: rgb(0, 255, 81); */
  /* box-shadow: rgba(0, 0, 0, 1) -4px 4px; */
  transition: 150ms ease-in;
}

.container > .row > .col > .jenis > .jenis-game {
  position: relative;
  top: -0.1rem;
  left: 0.3rem;
  border: 0.1rem;
  color: #000000;
  height: 7rem;
  /* text-decoration: none; */
  border-style: solid;
  background-color: rgb(0, 255, 81);
  box-shadow: rgba(0, 0, 0, 1) -7px 7px;
  /* width: 1rem; */
  /* height: 2rem; */
  transition: 150ms ease-in;
}

.container > .row > .col > .card-game {
  display: none !important;
}

.container > .row > .col > .jenis > .jenis-game:active {
  /* background-color: rgb(0, 255, 81); */
  box-shadow: none;
  transform: translate(-4px, 4px);
}

.container > .row > .col > .jenis > .jenis-game > h2 {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}

.container > .row > .col > .input-Id > input {
  /* display: block; */
  position: relative;
  top: 2rem;
  width: 6rem;
  text-align: center;
}
.container > .row > .col > .input-Id > button {
  /* display: block; */
  position: relative;
  top: 2rem;
  /* left: 60rem; */ /* left: -5rem; */
  width: 4rem;
  text-align: center;
}

/* .container > .row > .col > .jenis:hover {
  display: block;
  box-shadow: none;
  transform: translate(-6px, 6px);
} */

.container > .list-harga {
  border-radius: 10px;
}

.container > .list-harga .background-card {
  /* background-color: #ffffff !important; */
  width: 10em;
}

.container > .list-harga > .col-md-1.col-sm-3.coll-harga {
  /* margin: 5rem !important; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  position: relative;
  border-radius: 0.5rem;
  border: 0.1rem;
  top: 10rem;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  /* left: 5  rem; */
  border-style: solid;
  width: 12rem;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #ffd500;
  box-shadow: rgba(0, 0, 0, 1) -8px 8px;
  transition: 150ms ease-out;
}
.container > .list-harga > .col-md-1.col-sm-3.coll-harga > .card.harga-content > .card-body > h5 {
  color: #ffffff !important;
  background-color: #280031;
  border-radius: 0.2rem;
  /* outline: 2px solid rgb(0, 0, 0); */
}

.container > .list-harga > .col-md-1.col-sm-3.coll-harga > .card.harga-content > .card-body > img {
  /* display: block; */
  position: relative;
  top: -20px;
  width: 50px;
  margin-bottom: -10px;
}

.container > .list-harga > .col-md-1.col-sm-3.coll-harga > .card.harga-content > .card-body > h6 {
  margin-top: 15px;
  color: #756b6b !important;
}

.container > .list-harga > .col-md-1.col-sm-3.coll-harga > .card.harga-content > .card-body > p {
  font-size: 24px !important;
  color: #000000;
}

.container > .list-harga > .col-md-1.col-sm-3.coll-harga:hover {
  display: block;
  box-shadow: none;
  transform: translate(-8px, 8px);
}

.container > .row > .coll-harga > .harga-content {
  border: none;
  background-color: #ffd500;
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  height: 10rem;
  font-size: 15px;
}
/* .container > .list-harga > .col-md-1.my-1.coll-harga > .harga-content > .card-body {
  padding: 1rem;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  height: 8.6rem;
  background-color: white !important;
}

.container > .list-harga > .col-md-1.my-1.coll-harga > .harga-content > .card-body > .btn {
  border: 3px;
  border-style: solid;
  color: #2cd997 !important;
  background-color: #2cd997 !important;
  width: 100% !important;
  height: 100%;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
} */

.modal > .modal-dialog > .modal-content {
  background-color: #ffc700;
  border: black;
  border: 3px;
  border-style: solid;
  text-decoration: none;
  border-radius: none;
}

.modal > .modal-dialog > .modal-content > .modal-header {
  border: none;
  font-family: 'Noto Sans', sans-serif;
}
.modal > .modal-dialog > .modal-content > .modal-body {
  /* display: block;
  position: relative;
  left: 1rem;
  border: black 4px;
  border-style: solid;
  height: auto;
  width: 20rem; */
  font-family: 'Noto Sans', sans-serif;
  background-color: #ffffff;
  color: black;
  /* box-shadow: rgba(0, 0, 0, 1) -4px 4px; */
}
.modal > .modal-dialog > .modal-content > .modal-footer {
  border: none;
}

.modal > .modal-dialog > .modal-content > .modal-footer > button {
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(17, 0, 255) !important;
  border: black;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 1) -3px 3px;
  transition: 200ms ease-in;
}
.modal > .modal-dialog > .modal-content > .modal-footer > button:hover {
  display: block;
  box-shadow: none;
  transform: translate(-6px, 6px);
}
.modal > .modal-dialog > .modal-content > .modal-footer > a {
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(17, 0, 255) !important;
  border: black;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 1) -3px 3px;
  transition: 200ms ease-out;
}

.modal > .modal-dialog > .modal-content > .modal-footer > a:hover {
  display: block;
  box-shadow: none;
  transform: translate(-6px, 6px);
}
